setuptools==40.6.2
Products.SQLAlchemyDA==1.0.1
Products.ZAlchemyConnector==1.0.4
Products.BeakerZopeSessionManager==1.0
xlwt==1.3.0
simplejson>=3.16.0,<=3.17.2
boto3==1.17.37
pygcm==0.3
openpyxl==3.0.7
pyOpenSSL==20.0.1
latex==0.7.0
awesome-slugify==1.6.5
python-slugify==4.0.1
requests-oauthlib==1.3.0
PyPDF2==1.26.0
PyQRCode==1.2.1
pypng==0.0.20
pdf2image==1.14.0
pdfkit==0.6.1
pyotp==2.6.0
bcrypt==3.2.0
xlrd==2.0.1
fpdf==1.7.2
restpki-client==1.2.1
PyMuPDF==1.19.5
